<mat-toolbar color="basic">
  <img src='../assets/img/logo.png' width="300px" style="display: block; margin-left: auto; margin-right: auto; width: 200px;">
  <span class="separador"></span>
  <div class="button-container">
    <button mat-mini-fab color="basic">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <div class="button-container">
    <button mat-mini-fab [matMenuTriggerFor]="menu" color="basic">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/alterarPerfil">
        <mat-icon>person</mat-icon>
        Perfil
      </a>
      <a mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        Sair
      </a>
    </mat-menu>
  </div>
</mat-toolbar>
