<mat-card>
  <div class="container">
    <div class="box">
      <a mat-menu-item routerLink="/">
        <img src='../assets/img/logo.png' width="300px" style="display: block;
    margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="box">
      <form #clienteForm="ngForm">
        <p style="text-align: center;"> Digite o e-mail cadastrado para o envio do link de redefinição de senha.</p>
        <mat-form-field appearance="fill">
          <mat-label>Digite seu e-mail</mat-label>
          <input matInput type="text" name="nome" required minlength="3">
          <mat-error>
              Digite seu e-mail válido!
          </mat-error>
        </mat-form-field>
        <a mat-stroked-button routerLink="/" routerLinkActive="mat-link" style="align-items: center;
                      display:flex; margin: auto;color: rgb(0, 0, 0); width: 70px;">
              Enviar
        </a>
      </form>
    </div>
  </div>
</mat-card>
