<mat-card>
  <div class="container">
    <div class="box">
      <img src='../assets/img/logo.png' width="300px" style="display: block;
    margin-left: auto; margin-right: auto;">
    </div>
    <div class="box">
      <form #clienteForm="ngForm">
        <p style="text-align: center;"> Faça o seu login</p>
        <mat-form-field appearance="fill">
          <mat-label>Digite seu e-mail</mat-label>
          <input matInput type="text" name="nome" required minlength="3">
          <mat-error>
              Digite seu e-mail
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Digite sua senha</mat-label>
          <input matInput type="text" name="nome" required minlength="3">
          <mat-error>
              Digite sua senha
          </mat-error>
        </mat-form-field>

        <a mat-stroked-button routerLink="/entrar" color="accent" routerLinkActive="mat-accent" style="align-items: center;
                      display:flex; margin: auto;color: rgb(21, 255, 0);">
              Entrar
        </a>
      </form>
    </div>
  </div>
</mat-card>
