.conteudo{
  width: 95%;
  margin-top: 25px;
  margin-left: 25px;

  text-align: left;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-expansion-panel{
  margin-top: 25px;
}

.mat-expansion-panel-header-description{
  justify-content: end;
}

p{
  font: Noto Sans, sans-serif;
  font-size: 20px;
}
